extends ./base/layout.pug

block content
    main.bgc--skyBlue
        section.container
            .Grid.Grid--gutters.Grid--1of3.Grid--nested
                .Grid-cell
                    .content.bgc--white
                        h2 prueba
                .Grid-cell
                    .content.bgc--white
                        .Grid.Grid--gutters.Grid--full.Grid--nested
                            .Grid-cell
                                .content.bgc--white
                                    h2 into prueba
                        .Grid.Grid--gutters.Grid--1of2.Grid--nested
                            .Grid-cell
                                .content.bgc--white
                                    h2 into prueba
                            .Grid-cell
                                .content.bgc--white
                                    h2 into prueba
