extends ./base/layout.pug

block content
    main
        section.container
            article.item.floatl.col6
                h2 prueba
            article.item.floatl.col6
                h2 prueba
        h2 content
