extends ./base/layout.pug

block content
    main.bgc--skyBlue
        section.container
            .item
                .col.col--gutters.col--1of4
                    article.col-cell
                        .content.bgc--white
                            .user.center
                                .bdr_circle.mg_bottom--x20
                                    span.user(style="background-image: url('image/user.png');")
                                .title.cl--gray
                                    h1 Sams
                                .subtitle.mg_bottom--x10
                                    h3 Fron End / Web Developer
                                .subtitle.txt_upper.cl--silver.mg_bottom--x20
                                    h4 samsdial
                                button.btn.btn_site.btn_circle--x12.mg_bottom--x20 Contactar
                            .data.mg_bottom--x100.center
                                h4.cl--silver  Celular
                                h3 321 267 9283
                                ul.list_data.list--inline
                                    li
                                        span.cl--silver.icon_size--site.icon.icon-github
                                        .info
                                            h5.cl--silver github.com/
                                            h3 samsdial
                            .contact.mg_bottom--x20
                                ul.list_contact
                                    li
                                        span.cl--silver.icon.icon_size--email.icon-email
                                        .info
                                            h3 dialstudios@gmail.com
                                    li
                                        span.cl--silver.icon.icon_size--linkedin.icon-linkedin
                                        .info
                                            h3 linkedin.com/in/samsdg/
                                    li
                                        span.cl--silver.icon.icon_size--twitter.icon-twitter
                                        .info
                                            h3 twitter.com/monkey2men

                    article.col-cell
                        .content.bgc--white
                            .title.mg_top--x20.mg_bottom--x10
                                h2 Recomendados
                            hr.hr.hr_site.mg_bottom--x20
                            .col-cell
                                .col.col--gutters.col--1of3.col--nested
                                    .slider.mg_bottom--x20
                                        section
                                            .img.mg_bottom--x20
                                                img(src="image/user.png")
                                            .info--title.mg_bottom--x10
                                                h3 Viajero 24 // Web App
                                            .info--data.cl--silver
                                                h4 15/01/2017
                                            a.btn_ghost(href="/")
                                        section
                                            .img.mg_bottom--x20
                                                img(src="image/user.png")
                                            .info--title.mg_bottom--x10
                                                h3 Hatoganadero // Web App
                                            .info--data.cl--silver
                                                h4 20/06/2017
                                            a.btn_ghost(href="/")
                                        section
                                            .img.mg_bottom--x20
                                                img(src="image/user.png")
                                            .info--title.mg_bottom--x10
                                                h3 Viajero 24 // Web App
                                            .info--data.cl--silver
                                                h4 15/01/2017
                                            a.btn_ghost(href="/")
                                        section
                                            .img.mg_bottom--x20
                                                img(src="image/user.png")
                                            .info--title.mg_bottom--x10
                                                h3 CRG // Sitio Web
                                            .info--data.cl--silver
                                                h4 17/03/2017
                                            a.btn_ghost(href="/")
                                        section
                                            .img.mg_bottom--x20
                                                img(src="image/user.png")
                                            .info--title.mg_bottom--x10
                                                h3 Viajero 24 // Web App
                                            .info--data.cl--silver
                                                h4 15/01/2017
                                            a.btn_ghost(href="/")
                            .col12
                                .title
                                    h2
                                        b Sams
                                .subtitle
                                    h1 treinta dos
                                    h2 Veinti ocho
                                    h3 Veinti cuatro
                                    h4 veinte
                                    h5 Diesisés
                                h6 Doce
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut as aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt  in culpa qui officia deserunt mollit anim id est laborum.
                                span.icon.icon-education
                                span.icon.icon-github
                                span.icon.icon-github
                            //- h3 fron end / developer
        section.container.center
            article.item.col12.sm12.md12.lg12
                h1 Columna 12
            article.item.col11.sm11.md11.lg11
                h1 Columna 11
            article.item.col2.sm2.md2.lg2
                h1 Columna 2
