extends ./base/layout.pug

block content
    main.bgc--skyBlue
        section.container
            .Grid.Grid--gutters.Grid--1of3.Grid--nested
                .Grid-cell
                    .content.bgc--white
                            .user.center
                                .bdr_circle.mg_bottom--x20
                                    span.user(style="background-image: url('image/user.png');")
                                .title.cl--gray
                                    h1 Sams
                                .subtitle.mg_bottom--x10
                                    h3 Fron End / Web Developer
                                .subtitle.txt_upper.cl--silver.mg_bottom--x20
                                    h4 samsdial
                                button.btn.btn_site.btn_circle--x12.mg_bottom--x20 Contactar
                            .data.mg_bottom--x100.center
                                h4.cl--silver  Celular
                                h3 321 267 9283
                                ul.list_data.list--inline
                                    li
                                        span.cl--silver.icon_size--site.icon.icon-github
                                        .info
                                            h5.cl--silver github.com/
                                            h3 samsdial
                            .contact.mg_bottom--x20
                                ul.list_contact
                                    li
                                        span.cl--silver.icon.icon_size--email.icon-email
                                        .info
                                            h3 dialstudios@gmail.com
                                    li
                                        span.cl--silver.icon.icon_size--linkedin.icon-linkedin
                                        .info
                                            h3 linkedin.com/in/samsdg/
                                    li
                                        span.cl--silver.icon.icon_size--twitter.icon-twitter
                                        .info
                                            h3 twitter.com/monkey2men
                .Grid-cell
                    .content.bgc--white
                        .Grid.Grid--gutters.Grid--full.Grid--nested
                            .Grid-cell
                                .content.bgc--white
                                    .title.mg_top--x20.mg_bottom--x10
                                        h2 Portafolio
                                    hr.hr.hr_site.mg_bottom--x20
                                    .slider.mg_bottom--x20
                                        section
                                            .img.mg_bottom--x20
                                                img(src="image/user.png")
                                            .info--title.mg_bottom--x10
                                                h3 Viajero 24 // Web App
                                            .info--data.cl--silver
                                                h4 15/01/2017
                                            a.btn_ghost(href="/")
                                        section
                                            .img.mg_bottom--x20
                                                img(src="image/user.png")
                                            .info--title.mg_bottom--x10
                                                h3 Hatoganadero // Web App
                                            .info--data.cl--silver
                                                h4 20/06/2017
                                            a.btn_ghost(href="/")
                                        section
                                            .img.mg_bottom--x20
                                                img(src="image/user.png")
                                            .info--title.mg_bottom--x10
                                                h3 Viajero 24 // Web App
                                            .info--data.cl--silver
                                                h4 15/01/2017
                                            a.btn_ghost(href="/")
                                        section
                                            .img.mg_bottom--x20
                                                img(src="image/user.png")
                                            .info--title.mg_bottom--x10
                                                h3 CRG // Sitio Web
                                            .info--data.cl--silver
                                                h4 17/03/2017
                                            a.btn_ghost(href="/")
                                        section
                                            .img.mg_bottom--x20
                                                img(src="image/user.png")
                                            .info--title.mg_bottom--x10
                                                h3 Viajero 24 // Web App
                                            .info--data.cl--silver
                                                h4 15/01/2017
                                            a.btn_ghost(href="/")
                        .Grid.Grid--gutters.Grid--1of2.Grid--nested
                            .Grid-cell
                                .content.bgc--white
                                    h2 into prueba
                            .Grid-cell
                                .content.bgc--white
                                    h2 into prueba
