extends ./base/layout.pug

block content
    main.view
        .content
            .deco
            header.dev_header
                .quote.fz_7.cl--lightblack
                    h2 require ('Something');
                    span js
                .social_line.pd_title--line.fz_5.cl--tomato.txt_vertical
                    h3 @w3sams
                    span.cl--lightblack.fz_3 twitter
                .title.fz_13.cl--lightblack
                    h2
                        b Sergio M.
                .tagline.fz_1.cl--lightblack
                    h3 Front End / Web Developer
                nav.social
                    small.cl--tomato.mg_right--x10 Desarrollador de entornos flexibles digitales UI / UX
                    ul.list_social.list--inline
                        li
                            span.bgc--tomato.circle
                                span.icon.icon-linkedin.cl--white
                                a.btn_ghost(href="https://www.linkedin.com/in/samsdg/", target="_blank")
                        li
                            span.bgc--tomato.circle
                                span.icon.icon-twitter.cl--white
                                a.btn_ghost(href="https://twitter.com/w3sams", target="_blank")
                        li
                            span.bgc--tomato.circle
                                span.icon.icon-github.cl--white
                                a.btn_ghost(href="https://github.com/samsdial", target="_blank")
                        li
                            span.bgc--tomato.circle
                                span.icon.icon-email.cl--white
                                a.btn_ghost(href="mailto:dialstudios@gmail.com", target="_blank")
        include ./base/_includes/_header.pug
