nav.tabs_nav.tabs_nav--vertical.tabs_nav--black
    .tabs_nav--item
        .tabs_nav--bar
        .title.cl--white.txt_capital
            h3 title
    .tabs_nav--item
        .tabs_nav--bar
        .title.cl--white.txt_capital
            h3 title 2
    .tabs_nav--item
        .tabs_nav--bar
        .title.cl--white.txt_capital
            h3 title 3
    .tabs_nav--item
        .tabs_nav--bar
        .title.cl--white.txt_capital
            h3 title 4
.tabscontent
    .tabscontent--item
        .column
            h3 eco
        .column
            h3 eco
    .tabscontent--item
        .column
            h3 eco
        .column
            h3 eco
    .tabscontent--item
        .column
            h3 eco
        .column
            h3 eco
    button.btn.btn_site <
