nav.menu.block-revealer
    .hamburger
        .hamburger_line.hamburger_line--01
            .hamburger_line-in.hamburger_line-in--01
        .hamburger_line.hamburger_line--02
            .hamburger_line-in.hamburger_line-in--02
        .hamburger_line.hamburger_line--03
            .hamburger_line-in.hamburger_line-in--03
    .block-revealer__content
        ul.menu_inner
            li.menu_item
                a.menu_link(href="#") Work
                ul
                    li
                        a.submenu_link(href="http://casacardenal.com/", target="_blank") www. CasaCardenal
                    li
                        a.submenu_link(href="http://supercopalenovo.com/", target="_blank") www. SuperCopaLenovo
                    li
                        a.submenu_link(href="https://www.comunidadlenovo.com/es/login", target="_blank") www. ComunidadLenovo
                    li
                        a.submenu_link(href="http://lysglobalsolutions.com/", target="_blank") www. L&S GlobalSolution
                    li
                        a.submenu_link(href="http://mmdiagnosticoltda.com/", target="_blank") www. MM Diagnostico
