// grid
/*Basic Grid Styles*/
.content
    z-index: 1
    +display(flex)
    +justify-content(space-between)
    width: 100%
    height: 100%
    padding: 25px 50px
    .dev_header
        position: relative
        +display(flex)
        +flex-direction(column)
        +align-items(flex-end)
        height: 95vh
        text-align: right
.dev_header
    .links
        position: relative
        +display(flex)
        +justify-content(space-between)
        +align-items(flex-start)
    .social_line
        line-height: .8
    .quote
        position: relative
        max-width: 500px
        margin: 122px 0 50vh
        +MQ(S)
            margin: auto 29vw 0 0
        +heading
            font-family: $third-font
        span
            color: $white
            +font-size(9)
            font-weight: 900
            position: absolute
            z-index: 0
            top: 30px
            left: -30px
            letter-spacing: -0.05em
            +MQ(S)
                +font-size(22)
            &:after,
            &:before
                display: inline-block
                font-weight: normal
            &:after
                content: "}"
                margin-left: 15px
                +MQ(S)
                    margin-left: 25px
            &:before
                content: "{"
                margin-right: 15px
                +MQ(S)
                    margin-right: 35px
    nav.social
        +display(block)
        margin: 2em 0
        +MQ(S)
            +display(flex)
            +align-items(center)
            margin: 2 em 0 0 auto
        .list_social,
        small
            @media (min-width: 0px) and (max-width: 600px)
                width: 100%
                display: block


.tabscontent
    pointer-events: none
    &--item
        position: fixed
        z-index: 1001
        top: 0
        left: 0
        +display(flex)
        +justify-content(center)
        +align-items(center)
        overflow: hidden
        width: 100%
        height: 100vh
        // opacity: 0
        .column
            width: 30vw
