// grid

/*Basic Grid Styles*/
.Grid
    display: flex
    flex-flow: row
    flex-wrap: wrap

.u-textCenter
    text-align: center
.Grid-cell
    flex: 1

section.container
    padding: 12px
section.Grid-cell
    position: relative
.content
    padding: .8rem 1rem 0
    margin-bottom: 1rem
    // border: 1px solid $blue
    // border-radius: 3px
    &:after
        content: ""
        display: block
        margin-top: .8rem
        height: 1px

.Demo.Holly
    background: $silver
    &:hover
        background: $gray



// Grid Style Modifiers

/* With gutters*/
$gutter: 1rem
.Grid--gutters
    margin-left: -$gutter
    .Grid-cell
        padding-left: $gutter
    .Grid--nested
        .Grid-cell:first-of-type
            .Demo
                margin-right: 1rem




/* Justify per row*/
.Grid--right
    justify-content: flex-end
.Grid--center
    justify-content: center
/* Alignment per row */
.Grid--top
    align-items: flex-start
.Grid--bottom
    align-items: flex-end
.Grid--center
    align-items: center

/* Alignment per cell */
.Grid-cell--top
    align-self: flex-start
.Grid-cell--bottom
    align-self: flex-end
.Grid-cell--center
    align-self: center
// Menu
.navigation
    list-style: none
    // background: deepskyblue
    // background: $demoHolly
    margin: 0 0 1rem
    border: 1px solid $silver
    border-radius: 3px
    display: flex
    -webkit-flex-flow: row wrap
    justify-content: flex-end
    a
        text-decoration: none
        display: block
        padding: 1rem
        color: #333
        &:hover
            background: darken($silver, 10%)
            border-radius: 3px
    &:hover
        background: $blue

@media all and (max-width: 800px)
  .navigation
    justify-content: space-around
@media all and (max-width: 600px)
  .navigation
    -webkit-flex-flow: column wrap
    flex-flow: column wrap
    padding: 0
    a
      text-align: center
      padding: 10px
      border-top: 1px solid rgba(255,255,255,0.3)
      border-bottom: 1px solid rgba(0,0,0,0.1)

    li:last-of-type a
      border-bottom: none



/*===========================================*/
/* Base classes for all media - Mobile first */
.Grid--cols-2 > .Grid-cell
  flex: 0 0 100%

.Grid--cols-3 > .Grid-cell
  flex: 0 0 100%

.Grid--cols-4 > .Grid-cell
  flex: 0 0 100%

.Grid--cols-6 > .Grid-cell
  flex: 0 0 calc(50% - #{$gutter})

.Grid--cols-12 > .Grid-cell
  flex: 0 0 calc(33.3333% - #{$gutter})

.Grid--holly-grail
  .aside, .main
    flex: 1 100%

/* One of -- columns*/
.Grid--1of2 > .Grid-cell,
.Grid--1of4 > .Grid-cell:first-of-type,
.Grid--1of3 > .Grid-cell:first-of-type
  flex: 0 0 100%
.Grid--1of6 > .Grid-cell:first-of-type
  flex: 0 0 50%

.Grid--fit > .Grid-cell
  flex: 1
.Grid--full > .Grid-cell
  flex: 0 0 100%

/* Tablet (medium) screens */
@media (min-width: 35rem)
  .Grid--cols-4 > .Grid-cell
    flex: 0 0 calc(50% - #{$gutter})

  .Grid--cols-6 > .Grid-cell
    flex: 0 0 calc(33.3333% - #{$gutter})

  .Grid--cols-12 > .Grid-cell
    flex: 0 0 calc(16.6666% - #{$gutter})

  .Grid--holly-grail
    .aside
      flex: 1 calc(25% - #{$gutter})

  .Grid--1of2 > .Grid-cell
    flex: 0 0 50%

  .Grid--1of6 > .Grid-cell:first-of-type
    flex: 0 0 30%

  .Grid--1of4 > .Grid-cell:first-of-type
    flex: 0 0 50%

  .Grid--1of3 > .Grid-cell:first-of-type
    flex: 0 0 100%


/* Large screens */
@media (min-width: 48em)
    .Grid--cols-2 > .Grid-cell,
    .Grid--cols-3 > .Grid-cell,
    .Grid--cols-4 > .Grid-cell,
    .Grid--cols-6 > .Grid-cell,
    .Grid--cols-12 > .Grid-cell
        flex: 1

    .Grid--holly-grail
        .main
            flex: 2
        .aside
            flex: 1
        .aside-1
            order: 1
        .main
            order: 2
        .aside-2
            order: 3

    .Grid--1of2 > .Grid-cell
        flex: 0 0 50%

    .Grid--1of6 > .Grid-cell:first-of-type
        flex: 0 0 16.6666%

    .Grid--1of4 > .Grid-cell:first-of-type
        flex: 0 0 25%

    .Grid--1of3 > .Grid-cell:first-of-type
        flex: 0 0 30%

    .Grid--gutters.Grid--nested
        .Grid-cell:first-of-type
            .Demo
                margin-right: 0

// Contents classes
.content-1of1::before
    content: "1"
.content-1of2::before
    content: "1/2"
.content-1of3::before
    content: "1/3"
.content-1of4::before
    content: "1/4"
.content-1of6::before
    content: "1/6"
.content-1of12::before
    content: "1/12"

.container,
.container-full
    display: block
    width: 100%
    margin: auto
    font-size: 0
.container
    max-width: 1200px
    +MQ(M)
        max-width: 100%
// .item
//     display: block
//     width: 100%
//     padding: 16px
//     padding: 1rem
//     font-size: 16px
//     font-size: 1rem
// .col
//     +display(flex)
//     +flex-flow(row)
//     +flex-wrap(wrap)
//     &--cell
//         +flex(1)

// $gutter: 1em
// .col
//     &--gutters
//         margin-left: -$gutter
//         .col
//             &--cell
//                 padding-left: $gutter
//             &--nested
//                 .col--cell
//                     &:first-of-type
//                         .content
//                             margin-right: $gutter
//                             @media (min-width: 48em)
//                                 margin-right: 0
// /* Justify per row*/
// .col
//     &--right
//         +justify-content(flex-end)
//     &--center
//         +justify-content(flex-end)

//     /* Alignment per row */
//     &--top
//         +align-items(flex-start)
//     &--bottom
//         +align-items(flex-end)
//     &--center
//         +align-items(center)
//     /* Alignment per cell */
//     &--cell--top
//         +align-self(flex-start)
//     &--cell--bottom
//         +align-self(flex-end)
//     &--cell--center
//         +align-self(center)

// /*===========================================*/
// /* Base classes for all media - Mobile first */
// .col
//     &--cols
//         &-2 >
//             .col--cell
//                 +flex(0 0 100%)
//         &-3 >
//             .col--cell
//                 +flex(0 0 100%)
//         &-4 >
//             .col--cell
//                 +flex(0 0 100%)
//         &-6 >
//             .col--cell
//                 +flex(0 0 cal(50% - #{$gutte))
//         &-12 >
//             .col--cell
//                 +flex(0 0 cal(33.3333% - #{$gutte))
//     &--holly-grail
//         .aside,
//         .main
//             +flex(1 100%)
// .col
//     &--1of2 >
//         .col--cell
//             &:first-of-type,
//             &:first-of-type
//                 +flex(1 100%)
//     &--1of4 >
//         .col--cell
//             &:first-of-type,
//             &:first-of-type
//                 +flex(1 100%)
//     &--1of3 >
//         .col--cell
//             &:first-of-type,
//             &:first-of-type
//                 +flex(1 100%)
//     &--1of6 >
//         .col--cell
//             &:first-of-type
//                 +flex(0 0 50%)
//     &--fit >
//         .col--cell
//             +flex(1)
//     &--full
//         .col--cell
//             +flex(0 0 100%)

// @media (min-width: 30em)
//     .col
//         &--cols-4 >
//             .col--cell
//                 +flex(0 0 calc(50% - #{$gutte))
//         &--cols-6 >
//             .col--cell
//                 +flex(0 0 calc(50% - #{$gutte))
//         &--cols-12 >
//             .col--cell
//                 +flex(0 0 calc(50% - #{$gutte))
//         &--holly-grail
//             .aside
//                 +flex(1 calc(25% - #{$gutte))
//         &--1of2 >
//             .col--cell
//                 &:first-of-type
//                     +flex(0 0 50%)
//         &--1of6 >
//             .col--cell
//                 &:first-of-type
//                     +flex(0 0 30%)
//         &--1of4 >
//             .col--cell
//                 &:first-of-type
//                     +flex(0 0 50%)
//         &--1of3 >
//             .col--cell
//                 &:first-of-type
//                     +flex(0 0 100%)
// /* Large screens */
// @media (min-width: 48em)
//     .col
//         &--cols-2 >
//             .col-cell
//                 +flex(1)
//         &--cols-3 >
//             .col-cell
//                 +flex(1)
//         &--cols-4 >
//             .col-cell
//                 +flex(1)
//         &--cols-6 >
//             .col-cell
//                 +flex(1)
//         &--cols-12
//             .col-cell
//                 +flex(1)
//         &--holly-grail
//             .main
//                 +flex(2)
//             .aside
//                 +flex(1)
//             .aside-1
//                 +order(1)
//             .main
//                 +order(2)
//             .aside-2
//                 +order(3)
//         &--1of2 >
//             .col--cell
//                 +flex(0 0 50%)
//         &--1of6 >
//             .col--cell
//                 &:first-of-type
//                     +flex(0 0 16.6666%)
//         &--1of4 >
//             .col--cell
//                 &:first-of-type
//                     +flex(0 0 25%)
//         &--1of3 >
//             .col--cell
//                 &:first-of-type
//                     +flex(0 0 30%)
//         &--gutters
//             &.col--nested
//                 .col-cell:first-of-type
//                     margin: 0
// .content
//     padding: .8em 1em 0
//     margin-bottom: 1em
//     &:after
//         content: ""
//         display: block
//         margin-top: .8em
//         height: 1px
// .col
//     &12
//         width: 100%
//     &11
//         width: 91.66666666666667%
//     &10
//         width: 83.33333333333333%
//     &9
//         width: 75%
//     &8
//         width: 66.66666666666667%
//     &7
//         width: 58.33333333333333%
//     &6
//         width: 50%
//     &5
//         width: 41.66666666666667%
//     &4
//         width: 33.33333333333333%
//     &3
//         width: 25%
//     &2
//         width: 16.66666666666667%
//     &1
//         width: 8.333333333333333%

// .float
//     &l
//         float: left
//     &r
//         float: right
// .nofloat
//     float: none

// .clear,
// .clear::after,
// .clear::before
//     clear: both

// .clear::after,
// .clear::before
//     content: ''
//     display: block

// .i-b
//     display: inline-block

// /* Technique 3 display:flex
// .flex
//     +display(flex)

//     &-inline
//         +display(inline-flex)
//     &-row
//         +flex-direction(row)
//         &-reverse
//             +flex-direction(row-reverse)
//     &-column
//         +flex-direction(column)
//         &-reverse
//             +flex-direction(column-reverse)
//     &-nowrap
//         +flex-wrap(nowrap)
//     &-wrap
//         +flex-wrap(wrap)
//         &-reverse
//             +flex-wrap(wrap-reverse)
// .jc
//     &-flex
//         &-start
//             +justify-content(flex-start)
//         &-end
//             +justify-content(flex-end)
//     &-center
//         +justify-content(center)
//     &-space
//         &-between
//             +justify-content(space-between)
//         &-around
//             +justify-content(space-around)
// .ai
//     &-flex
//         &-start
//             +align-items(flex-start)
//         &-end
//             +align-items(flex-end)
//     &-center
//         +align-items(center)
//     &-baseline
//         +align-items(baseline)
//     &-stretch
//         +align-items(stretch)
// .ac
//     &-flex
//         &-start
//             +align-content(flex-start)
//         &-end
//             +align-content(flex-end)
//     &-center
//         +align-content(center)
//     &-space
//         &-between
//             +align-content(space-between)
//         &-around
//             +align-content(space-around)
//     &-stretch
//         +align-content(stretch)
// .flex
//     &-none
//         +flex(none)
//     &-auto
//         +flex(auto)
// .as
//     &-flex
//         &-start
//             +align-self(flex-start)
//         &-end
//             +align-self(flex-end)
//     &-center
//         +align-self(center)
//     &-baseline
//         +align-self(baseline)
//     &-stretch
//         +align-self(stretch)
//     &-auto
//         +align-self(auto)
// /* Vertical & horizontal alingments */
// .v
//     &-top
//         vertical-align: top
//     &-middle
//         vertical-align: middle
//     &-bottom
//         vertical-align:  bottom
//     &-baseline
//         vertical-align: baseline

// @media screen and (min-width: 30em)
//     .sm
//         &12
//             width: 100%
//         &11
//             width: 91.66666666666667%
//         &10
//             width: 83.33333333333333%
//         &9
//             width: 75%
//         &8
//             width: 66.66666666666667%
//         &7
//             width: 58.33333333333333%
//         &6
//             width: 50%
//         &5
//             width: 41.66666666666667%
//         &4
//             width: 33.33333333333333%
//         &3
//             width: 25%
//         &2
//             width: 16.66666666666667%
//         &1
//             width: 8.333333333333333%

//         /* Technique 1 float left/right

//         &-floatl
//             float: left
//         &-floatr
//             float: right
//         &-nofloat
//             float: none
//         &-clear,
//         &-clear::after,
//         &-clear::before
//             clear: both
//         &-clear::after,
//         &-clear::before
//             content: ''
//             display: block
//         /* Technique 2 display:inline-block
//         &-i-b
//             display: inline-block
//         &-flex
//             +display(flex)
//             &-inline
//                 +display(inline-flex)
//             &-row
//                 +flex-direction(row)
//                 &-reverse
//                     +flex-direction(row-reverse)
//             &-column
//                 +flex-direction(column)
//                 &-reverse
//                     +flex-direction(column-reverse)
//             &-nowrap
//                 +flex-wrap(nowrap)
//             &-wrap
//                 +flex-wrap(wrap)
//                 &-reverse
//                     +flex-wrap(wrap-reverse)
//             &-jc
//                 &-flex
//                     &-start
//                         +justify-content(flex-start)
//                     &-end
//                         +justify-content(flex-end)
//                 &-center
//                     +justify-content(center)
//                 &-space
//                     &-between
//                         +justify-content(space-between)
//                     &-around
//                         +justify-content(space-around)
//             &-ai
//                 &-flex
//                     &-start
//                         +align-items(flex-start)
//                     &-end
//                         +align-items(flex-end)
//                 &-center
//                     +align-items(center)
//                 &-baseline
//                     +align-items(baseline)
//                 &-stretch
//                     +align-items(stretch)
//             &-ac
//                 &-flex
//                     &-start
//                         +align-content(flex-start)
//                     &-end
//                         +align-content(flex-end)
//                 &-center
//                     +align-content(center)
//                 &-space
//                     &-between
//                         +align-content(space-between)
//                     &-around
//                         +align-content(space-around)
//                 &-stretch
//                     +align-content(stretch)
//             &-flex
//                 &-none
//                     +flex(none)
//                 &-auto
//                     +flex(auto)
//             &-as
//                 &-flex
//                     &-start
//                         +align-self(flex-start)
//                     &-end
//                         +align-self(flex-end)
//                 &-center
//                     +align-self(center)
//                 &-baseline
//                     +align-self(baseline)
//                 &-stretch
//                     +align-self(stretch)
//                 &-auto
//                     +align-self(auto)
//             &-v
//                 &-top
//                     vertical-align: top
//                 &-middle
//                     vertical-align: middle
//                 &-bottom
//                     vertical-align:  bottom
//                 &-baseline
//                     vertical-align: baseline

// @media screen and (min-width: 48em)
//     .md
//         &12
//             width: 100%
//         &11
//             width: 91.66666666666667%
//         &10
//             width: 83.33333333333333%
//         &9
//             width: 75%
//         &8
//             width: 66.66666666666667%
//         &7
//             width: 58.33333333333333%
//         &6
//             width: 50%
//         &5
//             width: 41.66666666666667%
//         &4
//             width: 33.33333333333333%
//         &3
//             width: 25%
//         &2
//             width: 16.66666666666667%
//         &1
//             width: 8.333333333333333%

//         /* Technique 1 float left/right

//         &-floatl
//             float: left
//         &-floatr
//             float: right
//         &-nofloat
//             float: none
//         &-clear,
//         &-clear::after,
//         &-clear::before
//             clear: both
//         &-clear::after,
//         &-clear::before
//             content: ''
//             display: block
//         /* Technique 2 display:inline-block
//         &-i-b
//             display: inline-block
//         &-flex
//             +display(flex)
//             &-inline
//                 +display(inline-flex)
//             &-row
//                 +flex-direction(row)
//                 &-reverse
//                     +flex-direction(row-reverse)
//             &-column
//                 +flex-direction(column)
//                 &-reverse
//                     +flex-direction(column-reverse)
//             &-nowrap
//                 +flex-wrap(nowrap)
//             &-wrap
//                 +flex-wrap(wrap)
//                 &-reverse
//                     +flex-wrap(wrap-reverse)
//             &-jc
//                 &-flex
//                     &-start
//                         +justify-content(flex-start)
//                     &-end
//                         +justify-content(flex-end)
//                 &-center
//                     +justify-content(center)
//                 &-space
//                     &-between
//                         +justify-content(space-between)
//                     &-around
//                         +justify-content(space-around)
//             &-ai
//                 &-flex
//                     &-start
//                         +align-items(flex-start)
//                     &-end
//                         +align-items(flex-end)
//                 &-center
//                     +align-items(center)
//                 &-baseline
//                     +align-items(baseline)
//                 &-stretch
//                     +align-items(stretch)
//             &-ac
//                 &-flex
//                     &-start
//                         +align-content(flex-start)
//                     &-end
//                         +align-content(flex-end)
//                 &-center
//                     +align-content(center)
//                 &-space
//                     &-between
//                         +align-content(space-between)
//                     &-around
//                         +align-content(space-around)
//                 &-stretch
//                     +align-content(stretch)
//             &-flex
//                 &-none
//                     +flex(none)
//                 &-auto
//                     +flex(auto)
//             &-as
//                 &-flex
//                     &-start
//                         +align-self(flex-start)
//                     &-end
//                         +align-self(flex-end)
//                 &-center
//                     +align-self(center)
//                 &-baseline
//                     +align-self(baseline)
//                 &-stretch
//                     +align-self(stretch)
//                 &-auto
//                     +align-self(auto)
//             &-v
//                 &-top
//                     vertical-align: top
//                 &-middle
//                     vertical-align: middle
//                 &-bottom
//                     vertical-align:  bottom
//                 &-baseline
//                     vertical-align: baseline
// @media screen and (min-width: 64em)
//     .lg
//         &12
//             width: 100%
//         &11
//             width: 91.66666666666667%
//         &10
//             width: 83.33333333333333%
//         &9
//             width: 75%
//         &8
//             width: 66.66666666666667%
//         &7
//             width: 58.33333333333333%
//         &6
//             width: 50%
//         &5
//             width: 41.66666666666667%
//         &4
//             width: 33.33333333333333%
//         &3
//             width: 25%
//         &2
//             width: 16.66666666666667%
//         &1
//             width: 8.333333333333333%

//         /* Technique 1 float left/right

//         &-floatl
//             float: left
//         &-floatr
//             float: right
//         &-nofloat
//             float: none
//         &-clear,
//         &-clear::after,
//         &-clear::before
//             clear: both
//         &-clear::after,
//         &-clear::before
//             content: ''
//             display: block
//         /* Technique 2 display:inline-block
//         &-i-b
//             display: inline-block
//         &-flex
//             +display(flex)
//             &-inline
//                 +display(inline-flex)
//             &-row
//                 +flex-direction(row)
//                 &-reverse
//                     +flex-direction(row-reverse)
//             &-column
//                 +flex-direction(column)
//                 &-reverse
//                     +flex-direction(column-reverse)
//             &-nowrap
//                 +flex-wrap(nowrap)
//             &-wrap
//                 +flex-wrap(wrap)
//                 &-reverse
//                     +flex-wrap(wrap-reverse)
//             &-jc
//                 &-flex
//                     &-start
//                         +justify-content(flex-start)
//                     &-end
//                         +justify-content(flex-end)
//                 &-center
//                     +justify-content(center)
//                 &-space
//                     &-between
//                         +justify-content(space-between)
//                     &-around
//                         +justify-content(space-around)
//             &-ai
//                 &-flex
//                     &-start
//                         +align-items(flex-start)
//                     &-end
//                         +align-items(flex-end)
//                 &-center
//                     +align-items(center)
//                 &-baseline
//                     +align-items(baseline)
//                 &-stretch
//                     +align-items(stretch)
//             &-ac
//                 &-flex
//                     &-start
//                         +align-content(flex-start)
//                     &-end
//                         +align-content(flex-end)
//                 &-center
//                     +align-content(center)
//                 &-space
//                     &-between
//                         +align-content(space-between)
//                     &-around
//                         +align-content(space-around)
//                 &-stretch
//                     +align-content(stretch)
//             &-flex
//                 &-none
//                     +flex(none)
//                 &-auto
//                     +flex(auto)
//             &-as
//                 &-flex
//                     &-start
//                         +align-self(flex-start)
//                     &-end
//                         +align-self(flex-end)
//                 &-center
//                     +align-self(center)
//                 &-baseline
//                     +align-self(baseline)
//                 &-stretch
//                     +align-self(stretch)
//                 &-auto
//                     +align-self(auto)
//             &-v
//                 &-top
//                     vertical-align: top
//                 &-middle
//                     vertical-align: middle
//                 &-bottom
//                     vertical-align:  bottom
//                 &-baseline
//                     vertical-align: baseline
