// .slick-slider
//     width: 350px
//     +MQ(S)
//         width: 900px
//     +MQ(L)
//         width: 1186px
.slider
    @media (min-width: 0px)
        width: 320px
    @media (min-width: 600px)
        width: 620px
    @media (min-width: 991px)
        width: 620px
    @media (min-width: 1024px)
        width: 1039px
    // +MQ(L)
    //     width: 1039px
    &-slide
        margin: 12px
    section
        position: relative
        opacity: 1
        display: table
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        +font-smoothing
        .info
            &--title
                display: block
            &--data
                display: block

.slick-prev,
.slick-next
    display: none
