// list.sass
.list
    &--inline
            padding-right: 0px
            padding-left: 0px
            margin-left: 0px
            list-style: none
            vertical-align: middle
            position: relative
            &>li
                display: inline-block
                padding-left: 10px
                padding-right: 10px
                vertical-align: middle
                position: relative
                z-index: 19
    &_data
        //
        span
            margin-right: 5px
        .info
            display: inline-block
    &_contact
        list-style: none
        vertical-align: middle
        position: relative
        li
            vertical-align: middle
            position: relative
            margin-bottom: 12px
        span
            margin-right: 5px
            display: inline-block
            vertical-align: middle
        .info
            display: inline-block
            vertical-align: middle
